.page-not-found-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  h1 {
    font-size: 6.5em;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h2 {
    font-size: 2.5em;
    margin-top: 50px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  img {
    width: 20%;
    height: 20%;
  }
  .center-text {
    font-size: 1.4em;
    text-align: center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 20px;
  }
}
