.landing-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  form {
    display: flex;
    flex-direction: column;
  }
  .landing-page-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 200px;
  }
  mat-card-title {
    margin-bottom: 30px;
  }
  .landing-page-form {
    width: 300px;
  }
}
