<div class="landing-page-container">
<mat-card class="landing-page-card">
    <mat-card-title>Pokemon trainer</mat-card-title>
    <form (submit)="submit($event)" > 
        <mat-form-field class="landing-page-form" appearance="fill">
          <mat-label>Enter your trainer name:</mat-label>
          <input matInput placeholder="Ex. Ash" (change)="onChangeGetUserName($event)" [value]=getUserInput()>
        </mat-form-field >
        <button mat-raised-button color="primary">Submit</button>
      </form>
</mat-card>
</div>