<h1>My Pokémon collection</h1>
<div class="container">
  <div *ngFor="let pokemon of displayPokemon()">
    <div class="card inline-block" *ngIf="!pokemon.isDeleted">
      <h2 class="first-letter">{{pokemon.name}} </h2>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemonId(pokemon)}}.png" />
      <div>
        <button (click)="removePokemon(pokemon)">Delete</button>
      </div>
    </div>
  </div>
</div>
<button (click)="logOut()" routerLink="/">Log Out!</button>
<mat-paginator *ngIf="getCurrentUser().length >= 10" [length]="getCurrentUser().length" [pageSize]="pageSize" [pageSizeOptions]="[10, 20]" aria-label="Select page"
(page)="handelPageChange($event)"></mat-paginator>