<div class="container">
  <div class="card">
    <h1>Pokemon Catalogue</h1>
    <h3>Now showing pokemons {{currentPokemonIndex}} to {{currentPokemonIndex + 19}}</h3>

    <div>
      <button mat-raised-button color="primary" (click)="previousPage()">Back</button>
      <button mat-raised-button color="primary" (click)="nextPage()">Next</button>
    </div>

  </div>

  <div class="card inline-block" *ngFor="let pokemon of pokemonList()" (click)="catchPokemon(pokemon)">
    <h2 class="first-letter"> {{pokemon.name}} </h2>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemonId(pokemon)}}" />
    <img class="icon" *ngIf=" trainersPokemons.indexOf(pokemon.name) !== -1" src="../../assets/Poke_Ball.png" />


    <div>
      <button mat-raised-button color="red">Show more</button>
    </div>
  </div>

  

</div>